@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .card-wrapper {
    @apply
  }

  .btn {
    @apply bg-primary-violet rounded-[5px] !important;
  }

  .btn-secondary {
    @apply bg-primary-violet bg-opacity-10 rounded-[5px] !important;
  }
}